absl-py==0.11.0
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
configparser==5.0.1
cycler==0.10.0
cython==0.29.21
docker-pycreds==0.4.0
gitdb==4.0.5
gitpython==3.1.12
google-auth-oauthlib==0.4.2
google-auth==1.25.0
grpcio==1.35.0
idna==2.10
kiwisolver==1.3.1
markdown==3.3.3
matplotlib==3.3.4
numpy==1.20.1
oauthlib==3.1.0
opencv-python==4.5.1.48
pandas==1.2.1
pathtools==0.1.2
pillow==8.1.0
pip==21.0.1
promise==2.3
protobuf==3.14.0
psutil==5.8.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycocotools==2.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
pyyaml==5.4.1
requests-oauthlib==1.3.0
requests==2.25.1
rsa==4.7
scipy==1.6.0
seaborn==0.11.1
sentry-sdk==0.19.5
setuptools==49.6.0.post20210108
shortuuid==1.0.1
six==1.15.0
smmap==3.0.5
subprocess32==3.5.4
tensorboard-plugin-wit==1.8.0
tensorboard==2.4.1
thop==0.0.31.post2005241907
torch==1.7.1+cu101
torchaudio==0.7.2
torchvision==0.8.2+cu101
tqdm==4.56.0
typing-extensions==3.7.4.3
urllib3==1.26.3
wandb==0.10.17
werkzeug==1.0.1
wheel==0.36.2
wincertstore==0.2